<h1>Listing topics</h1>

<table>
  <tr>
    
    <th>Content</th>
   
  </tr>

<% @topics.each do |topic| %>
  <tr>
    
    <td><%= topic.content %></td>
    
  </tr>
<% end %>
</table>

<br />



  
 
    
   
  <% if @topic %> 
       <h1>Great</h1>
    <%= @topic[2] %>
    
  <% else %>
      <h1>Topics</h1>
   <%end %>
  
  


  
  
 

