<center>
<div class="center hero-unit">
<h1 style="font-size: 3em;letter-spacing: -2px;margin-bottom: 30px;text-align: center;">Annai Arts & Science College</h1>
<h2 style="color: $grayLight;font-size: 1.7em;letter-spacing: -1px;margin-bottom: 30px;text-align: center;font-weight: normal;">Mugappir, Chennai - 37, India </h2>
<div >
<h3>
<p style="padding-top: 10%;color:blue;">
This is the home page for the<br />
Annai Arts & Science College<br />
</p>
</h3>
</div>
<p>New User:
<%= link_to "Sign up now!", register_user_path, class: "btn btn-large btn-primary" %>
</p>
<p>Already Signed Up: 
<%= link_to "Sign in now!", sign_in_path, class: "btn btn-large btn-primary" %>
</p>
</div>
</div>
</center>
