    <% if current_user %>
	<p style = "padding-left: 75%;">
    Logged in as <%= current_user.name %>.
    <%= link_to "Sign Out", sign_out_path %>
    </p>
    <% end %>
    <p style = "padding-left: 75%;">
    	<% if current_user && ((session[:role_description] == 'Teacher') || (session[:role_description] == 'Professor')) %>
    	   <%= link_to 'Master Setup', show_masters_path %>
    	<% end %>
    </p>
    
<center>    
<h3>Available Courses</h3>

<div style="padding-top:3%">
<table>
  
  
<% @courses.each do |course| %>
 
  <tr>
    <td> <%= link_to  course.name ,show_subjects_path(:course_id => course.id) %></td>
                                                       
  </tr>
  
<% end %>
  
</table>
<div/>

</center> 