<center>
<h3>Available Courses</h3>

<div style="padding-top:3%">
<table>
  
  
<% @courses.each do |course| %>
 
  <tr>
    <td> <%= link_to  course.name ,show_subjects_path(:course_id => course.id) %></td>
                                                       
  </tr>
  
<% end %>
  
</table>
<div/>

</center> 